<h1>Log in below!</h1>

<%= erb :'_errors' %>

<form action='/login' method='Post'>
  E-mail Address:<input type='text' name='user[email]'>
  Password: <input type='password' name='user[password]'>
  <input type='submit' value='Login'>
</form>
