<h1>Log in below!</h1>

<%= erb :'_errors' %>
<div class='form'>
<form action='/login' method='POST'>
 <div><input type='text' name='user[email]' placeholder="Email"></div><br>
  <div><input type='password' name='user[password]' placeholder="Password"></div><br>
  <div><input type='submit' value='Login'></div>
</form>
</div>
