<h1>Log in below!</h1>

<%= erb :'_errors' %>
<div class='form'>
<form action='/login' method='POST'>
 <div> E-mail Address:<input type='text' name='user[email]'></div><br>
  <div>Password: <input type='password' name='user[password]'></div><br>
  <div><input type='submit' value='Login'></div>
</form>
</div>
