.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}


body {
  background-color: #404040;
  font-family: 'Lato', sans-serif;

}

h1 {
  color: white;
  text-align: center;
  position: relative;
  margin: 120px;
  margin-bottom: 50px;
}

h3 {
  color: white;
  text-align: center;
  position: relative;
  margin: 20px;
}

h2 {
  color: white;
  text-align: center;
  position: relative;
  margin: 10px;
}

#start-button{
  text-align: center;
  margin: 50px;
}

.form {
  background-color: #e6f7ff;
  border-radius: 10px;
  padding: 50px;
  max-width:250px;
  margin: 0 auto;
  text-align: center;
  margin:40px auto;
}

.form a{
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: black;
}

.form a:hover{
  font-style: italic;
}

.form li{
 list-style-type: none;
}

.start-form {
  background-color: #e6f7ff;
  border-radius: 10px;
  padding: 10px;
  max-width:250px;
  max-height:120px;
  margin: 0 auto;
  text-align: center;
  margin: 40px auto;
}

/*WIP nav*/
.nav{
  text-align: center;
  position: fixed;
  z-index: 9999;
  background-color: #006699;
  border-bottom: 4px solid white;
  border-radius: 10px;
  width: 100%;
  top: -20px;
  left: -48px;
  padding: 20px;
  margin: 20px;
  word-spacing: 10em;
}

.nav a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav a:hover{
  font-style: italic;
}
