<h1>You've finished all the cards for <%=@round.deck.name%>!</h1>

<h3>Correct initial guesses:</h3>
<h3><%=@round.correct_guesses %></h3>
<h3>Total guesses:</h3>
<h3><%=@round.all_guesses.size %></h3>
