<h1>Welcome, <%= current_user.username  %>!</h1>

<!-- <h2><img src="http://www.cultivationcounseling.com/wp-content/uploads/2013/10/PA1787_Vint_Flash_Cards.jpg"></h2> -->
<h3>Flashcard Stat's</h3>

<h3><a href="/">Go learn!</a></h3>

<div class="stats-table">
<table>
  <% @user.rounds.each do |round| %>
  <tr><td>Deck Name:</td><td><%= round.deck.name %></td></tr>
  <tr><td>Correct Guesses on first try:</td><td><%= round.correct_guesses.length %></td></tr>
  <tr><td>Total Guesses:</td><td><%= round.all_guesses.size %></td></tr>
  <% end %> 
</table>
</div>

