
  <h1><%= @card.question %></h1>

  <div class='form'>
    <form action='/decks/<%= @deck.id %>/rounds/<%= @round.id %>/cards/<%=@card.id %>/guess' method='POST'>
      <div>Answer:</div><br>
      <div><input type='text' name='answer'></div><br>
      <div><input type='submit' value='Submit'></div>
    </form>
  </div>
