<h2><%= @deck.name %> Deck</h2>

<div class='start-form'>
<form action="/decks/<%= @deck.id %>/round" method="POST">
  <div id="start-button"><input type="submit" value="Start!"></div>
</form>
</div>
